**/dgph
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
**/*sync/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
Icon?
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3

# 签名/证书相关（核心）
*.p12
*.cer
*.mobileprovision
*.p8
*.keystore
*.jks

# 第三方服务敏感配置
GoogleService-Info.plist

# 环境配置文件
.env
.env.*
!env.example
*.env

# 编译产物/归档文件
**/build/
*.ipa
*.xcarchive

# 5. 其他敏感配置
key.plist
secret.json
*.key

# Xcode额外临时文件
*.xccheckout
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plis